---
layout: page
title: Blogs
---

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <!-- 카테고리별로 그룹화 -->
      {% for category in site.categories %}
      {% if category[1].size > 0 %}
      <div class="col-12">
        <!-- 카테고리 제목 -->
        <h2 class="category-title">{{ category[0] | capitalize }}</h2>
        <ul class="category-list">
          <!-- 해당 카테고리의 포스트 리스트 -->
          {% for post in category[1] %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->


<!-- clients -->
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">My Clients</h2>
      </div>
    </div>
    {% include client-slider.html %}
  </div>
</section>
<!-- /clients -->
