---
layout: page
title: C/C++
tag: C/C++
---
<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      {% for file in site.til %}
        {% if file.tags contains "C++" %}
        {% include post.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->

<!-- clients -->
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">My Clients</h2>
      </div>
    </div>
    {% include client-slider.html %}
  </div>
</section>
<!-- /clients -->
